button {
  padding: 10px 15px;
  margin: 20px 20px 20px 40px;

  font-size: 20px;
  background-color: rgb(111, 191, 7);
  color: rgb(127, 73, 220);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  padding: 40px 30px;
  width: fit-content;
  border: 5px solid tomato;
  background-color: rgb(243, 226, 37);
}

.list-group {
  margin: 0;
  padding: 0 0 0 18px;
  list-style: disc;
}