body {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  font-family: sans-serif;
  color: black;
  background-color: rgb(254, 145, 56);
}

.country {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.country-card {
  display: flex;
  margin-top: 30px;
  padding: 20px 40px;
  width: fit-content;
  border: 2px black solid;
  border-radius: 10px;
  background-color: yellow;
}

.country-list {
  margin: 0 0 0 15px;
  padding: 0;
}

.country-image {
  margin-left: 40px;
  width: 300px;
  height: 180px;
  display: block;
}

.country-list-item {
  margin-left: 20px;
}

.country-list-item+.country-list-item {
  margin-top: 10px;
}


/* INPUT STYLES */

.form-input {
  font-size: 16px;
  padding: 12px 15px;
  width: 200px;
  border: 1px solid tomato;
  border-radius: 5px;
  background-color: rgb(0, 195, 255);
  outline: none;
}
.form-input:focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.form-input::placeholder {
  color: white;
}




